#gamespace canvas {
    align-content: center;
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Proza Libre', sans-serif;
}

header {
    text-align: center
}

#title {
    font-size: 4em;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
}