article {
    margin: auto;
    text-align: center;
    width: 70%;
}

article a {
    color: rgb(8, 6, 102);
    text-decoration: none;
}

article a:hover {
    color: darkcyan;
}

article p {
    font-family: 'Gentium Basic', serif;
    font-size: 1.25em;
    text-align: justify;
}

#gamespace canvas {
    align-content: center;
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Proza Libre', sans-serif;
}

h3 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 2em;
}

header {
    background-color: #aff1ff;
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

input {
    font-family: 'Gentium Basic', serif;
    font-size: 1.15em;
}

input[type=submit] {
    background-color: #aff1ff;
    border-color: #aff1ff;
    border-radius: 10%;
    font-size: 2em;
    font-family: 'Proza Libre', sans-serif;
}

label {
    font-family: 'Gentium Basic', serif;
    font-size: 1.25em;
}

#score-submit-header {
    margin-top: 1em;
}

span {
    font-size: 3.25em;
}

table {
    margin-bottom: 2em;
}

#title {
    font-size: 4em;
    margin-top: 0;
}

th, td {
    height: 5em;
    font-size: 1.5em;
    width: 15%;
    border: black solid 1px;
}